<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Healthnet Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a679c">  <td>18/09/16 10:32:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runners.TestRunner@5b87ed94]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@130311551</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/09/16 10:32:19</td>   <td>573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.TestRunner@5b87ed94]">feature</td> 
  <td>TestNG-test=Test-1@130311551</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/09/16 10:32:49</td>   <td>31074</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runners.TestRunner@5b87ed94]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@130311551</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>18/09/16 10:32:50</td>   <td>31562</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.writeExtentReport()[pri:0, instance:runners.TestRunner@5b87ed94]">&lt;&lt;writeExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1399499405</td>   <td></td> </tr>
</table>
