<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Healthnet Test Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>18/09/16 08:51:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runners.TestRunner@23e028a9]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test(failed)-1@659808965</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>18/09/16 08:51:36</td>   <td>588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runners.TestRunner@23e028a9]">feature</td> 
  <td>TestNG-test=Test(failed)-1@659808965</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>18/09/16 08:52:10</td>   <td>34477</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runners.TestRunner@23e028a9]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test(failed)-1@659808965</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/16 08:52:10</td>   <td>34955</td> <td>&nbsp;</td><td title="&lt;&lt;TestRunner.writeExtentReport()[pri:0, instance:runners.TestRunner@23e028a9]">&lt;&lt;writeExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1883919084</td>   <td></td> </tr>
</table>
